<div class="body">
    <br>
    <div class="img"> 
        <img src="https://i.pinimg.com/originals/70/91/42/7091424c97eb81c7973b313509c24fb9.gif">
    </div>
    <br>
    
    <div class="text-center">
        <p><strong>"Além disso, não é da minha natureza cair sem lutar, mesmo quando as coisas parecem insuperáveis.”</strong></p>
    </div>
    
      <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink='/erro5' class="" type="button">Crepúsculo</button>
        <button routerLink='/erro5' class="" type="button">Orgulho e Preconceito</button>
        <button routerLink='/erro5' class="" type="button">Harry Potter</button>
        <button routerLink='/acerto5' class="" type="button">Jogos Vorazes</button>
      </div>
      <br>
      <br>
      <br>
    </div>