<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">A Corte de Rosas e Espinhos</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://i.pinimg.com/736x/f1/69/d7/f169d70dae2d485502ae10e2c8fb7f41.jpg">
  <br>
  <br>
  <p>"Uma rainha que era dona do próprio corpo, da própria vida, do destino, e jamais se desculparia por isso."<br>
     "Vida e Morte; pairando tão perto, sussurando em nossos ouvidos."<br>
     "Apenas você pode decidir o que te destrói."</p>
  <br>
  <p>"Eu teria destruido o mundo para resgatá-la." <br>
    "Minha igual de todas as formas; ela usaria minha coroa, se sentaria em trono ao lado do meu. <br>
    Jamais nos bastidores ... Minha Rainha."</p>
  <br>
  <p>"Amor é tanto como um bálsamo, como um veneno" <br>
    "Não fugiria. Se tudo virasse um inferno, eu faria minhas ações contarem, e usaria meu último suspiro para lutar."</p>
  <br>
  <p>"Lembre-se de que você é uma loba. E não pode ser enjaulada."<br>
     "Você é dona de si, faz as próprias escolhas."<br>
    "Eu teria esperado 500 anos mais por você. Mil anos. E, se esse foi o todo o tempo que nos foi permitido... Tudo valeu a pena."</p>
  <br>
  <p>"As pessoas que olham as estrelas e desejam." <br>
    "As estrelas que ouvem e aos sonhos que são atendidos"</p>


    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/NLsORRR8D70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>
