img {
    width: 920px;
    height: 700px;
    margin-left: 20%;
}

iframe {
    margin-left: 32%;
}

.body {
    background-image: url(https://wallpapercave.com/wp/wp8815628.jpg);
  }

p {
    color: #FFFFFF;
}