<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">A Rainha Vermelha</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7f6b278d-af3e-4825-83b8-a90e98ed7c67/dcu7f4q-717e5edd-cc70-4794-ac51-5b876fe130d2.jpg/v1/fill/w_467,h_350,q_70,strp/red_queen_character_lineup_by_freiheit_dcu7f4q-350t.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYwIiwicGF0aCI6IlwvZlwvN2Y2YjI3OGQtYWYzZS00ODI1LTgzYjgtYTkwZTk4ZWQ3YzY3XC9kY3U3ZjRxLTcxN2U1ZWRkLWNjNzAtNDc5NC1hYzUxLTViODc2ZmUxMzBkMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._Qcp8gurS6EYMl1GdpBL49oprnsQ4kZhQwxagITKpW8">
  <br>
  <br>
  <p>"Vamos nos levantar, Vermelhos como a Aurora!"<br>
    <br>
    "Uma sociedade dividida pelo sangue. <br>
    Um jogo definido pelo poder."</p>
  <br>
  <p>“Todo mundo pode trair todo mundo.” <br>
    "Ninguém nasce mal, assim como ninguém nasce sozinho. Eles tornam-se assim, seja por escolha ou por circunstâncias." </p>
  <br>
  <p>"Se sou uma espada, sou uma espada de vidro, e já me sinto prestes a estilhaçar."<br>
    "Não somos iguais, e jamais seremos."<br>
    "Numa guerra de sangue contra sangue e poder contra poder, tudo virá a abaixo."</p>
  <br>
  <p>"Vejo um mundo na corda bamba. Sem equilíbrio, ele cai."<br>
    "Não importa que o sangue seja tudo o que não somos, tudo o que não podemos ser, tudo o que queremos ser."</p>
  <br>
  <p>“Nenhum coração pode ser verdadeiramente conhecido, nem mesmo o meu próprio."</p>


  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/1XO2g-8DNvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>