<div class="body">
    <br>
    <div class="img"> 
        <img src="https://i.pinimg.com/originals/32/de/7e/32de7e7a8843184134f66f887ebc6f46.gif">
    </div>
    <br>
    
    <div class="text-center">
        <p><strong>"-Às pessoas que olham as estrelas e desejam, <br>
            -Às estrelas que ouvem e aos sonhos que são atendidos.”</strong></p>
    </div>
    
      <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink='/erro4' class="" type="button">A Rainha Vermelha</button>
        <button routerLink='/erro4' class="" type="button">Anne of Green Gables</button>
        <button routerLink='/erro4' class="" type="button">Jogos vorazes</button>
        <button routerLink='/acerto4' class="" type="button">ACOTAR</button>
      </div>
      <br>
      <br>
      <br>
    </div>