<div class="body">
    <br> 
    <img src="https://creatusmagic.files.wordpress.com/2018/01/tumblr_mhb6oypjgs1qijnxzo4_500.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>CERTA RESPOSTA!</strong></h1>
    <h5>Essa é clássica, não tem nem como errar, né?!</h5>
    </div>

    <button routerLink="/pergunta3" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta4" type="button" class="btn btn-lg">Próxima Pergunta</button>

    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

    </div>