<div class="body">
    <br> 
    <img src="http://images6.fanpop.com/image/photos/35600000/the-one-photoshoot-the-selection-series-35660076-250-188.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>CERTA RESPOSTA!</strong></h1>
    <h5>Ah, não tem nem como esquecer essa cena icônica da Seleção! <br>
     Não sei você, mas eu me derreti completamente nessa parte.</h5>
    </div>

    <button routerLink="/pergunta1" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta2" type="button" class="btn btn-lg">Próxima Pergunta</button>

    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

    </div>