<div class="body">
    <br> 
    <img src="https://64.media.tumblr.com/tumblr_lmfsubBcgj1qbdq9so1_500.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>RESPOSTA ERRADA</strong></h1>
    <h5>Essa frase é um clássico! Como assim?</h5>
    <br>
    <br>
    <button routerLink="/pergunta3" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta4" type="button" class="btn btn-lg">Próxima Pergunta</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    </div>