<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">Hunger Games</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://www.imore.com/sites/imore.com/files/images/stories/2012/03/hunger_games.jpg">
  <br>
  <br>
  <p>"Não é da minha natureza cair sem lutar, mesmo quando as coisas parecem insuperáveis."<br>
    <br>
    "Não avaliamos a vida pelos anos vividos mas sim pelas pessoas que tocamos a nossa volta.”</p>
  <br>
  <p>“Esperança é a única coisa mais forte que o medo. Um pouco de esperança é eficaz, muita esperança é perigoso. Faíscas são boas enquanto são contidas.”<br>
    “É preciso dez vezes mais tempo para se colocar novamente em ordem do que é preciso para desmoronar.” </p>
  <br>
  <p>"A esperança é a única coisa mais forte do que o medo.” </p>
  <br>
  <p>“Lembre-se quem é o verdadeiro inimigo.”<br>
     “Um pouco de esperança é eficaz, muita esperança é perigoso.” <br>
    "Não importa se você ganha ou perde. O que importa é como você joga."</p>
  <br>
  <p>“Que os jogos comecem!<br>
    E que a sorte esteja sempre a seu favor!"</p>


  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/QnoXecGpq6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>

