<div class="body">
    <br> 
    <img src="https://wallpaperaccess.com/full/3652464.jpg">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>RESPOSTA ERRADA</strong></h1>
    <h5>Você acaba de ser expulso da Corte Noturna pela Grã-Senhora Feyre!</h5>
    <br>
    <br>
    <button routerLink="/pergunta4" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta5" type="button" class="btn btn-lg">Próxima Pergunta</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    </div>