<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">The Selection</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://pbs.twimg.com/media/EcrKlBVXkAksGpA?format=jpg&name=medium">
  <br>
  <br>
  <p>“Um sorriso tranquilo nasceu no meu rosto e no dele.<br> 
    Nossa amizade — se é que podíamos chamar assim — era estranha e cheia de furos, mas pelo menos era honesta.”<br>
    “Estou aqui. E não estou lutando. Meu plano é aproveitar a comida até você me chutar.” </p>
  <br>
  <p>“Desde o primeiro momento em que o vi, eu o amei.” <br>
    “Essa era a verdade, no fim das contas. Ainda não sabia o que queria, mas não podia me deixar levar pelo mais fácil ou por aquilo que os outros achavam certo. <br>
    Só precisava de tempo até decidir o que era melhor para mim.” <br>
    </p>
  <br>
  <p>"- Você chamou todas de “minha querida”? - perguntei, voltando o rosto para o resto do salão. <br>
    - Sim, e todas parecem ter gostado. <br>
    - É exatamente por isso que eu não gostei."</p>
  <br>
  <p>“Seu discurso tinha começado cheio de fúria e paixão, mas no final as perguntas não eram mais retóricas.<br>
    Ele realmente queria saber: o que faria se ninguém ali passasse perto de ser uma pessoa que ele pudesse amar?<br>
    Embora esse não parecesse ser seu maior problema, o príncipe estava mais preocupado em não ser amado.”</p>
  <br>
  <p>"Pode partir meu coração. Mil vezes, se desejar. Sempre foi seu para machucar como quiser."<br>
     "Amarei você até meu último suspiro. Cada batida do meu coração é sua. Não quero morrer sem que você saiba disso."</p>


  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/21qn9Q-Ep0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>