<div class="body">
    <br> 
    <img src="https://i.gifer.com/XWes.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>CERTA RESPOSTA!</strong></h1>
    <h5>Ah, essa saga é tão perfeita!<br>
    Não tem nem como esquecer, né?</h5>
    </div>

    <button routerLink="/pergunta2" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta3" type="button" class="btn btn-lg">Próxima Pergunta</button>

    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

    </div>