<div class="body">
    <br>
    <div class="img"> 
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/foggy-forest-inge-riis-mcdonald.jpg">
    </div>
    <br>
    
    <div class="text-center">
        <p><strong>"- E então o leão se apaixonou pelo cordeiro... - murmurou ele.<br>
            Virei a cara, escondendo os olhos enquanto me arrepiava com a palavra.<br>
            - Que cordeiro imbecil - suspirei.<br>
            - Que leão masoquista e doentil."</strong></p>
    </div>
    
      <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink='/erro2' class="" type="button">Orgulho e Preconceito</button>
        <button routerLink='/erro2' class="" type="button">Acotar</button>
        <button routerLink='/acerto2' class="" type="button">Crepúsculo</button>
        <button routerLink='/erro2' class="" type="button">Outlander</button>
      </div>
      <br>
      <br>
      <br>
    </div>