img {
   
    margin-left: 12%;
}

iframe {
    margin-left: 32%;
}

.body {
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/b/8f/priroda-les-derevia-sumerki-tuman.jpg);
  }

p {
    color: #FFFFFF;
}