<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">Twiligth</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/twilight-edward-bella-prom-1626378462.jpg?crop=1.00xw:0.721xh;0,0.0806xh&resize=1200:*">
  <br>
  <br>
  <p>"Não entendi, e então Bella olhou sugestivamente para as guirlandas de papel crepom. Bella faria objeções demais.<br>
  E aquilo estava muito distante no futuro, um futuro no qual eu tentava ao máximo não pensar. <br>
  Mas talvez eu pudesse contar a ela um pouco da ideia por trás dessa visão. Embora não fosse algo que pudesse ser conversado em público.</p> 
    <br>
    <p>Mudei a direção de nossa dança, girando com ela rumo saída. Passamos por alguns de seus amigos. <br>
      Abri a porta com as costas, sem parar de dançar. Não havia ninguém ali fora, apesar de ser uma noite muito agradável. <br>
      As nuvens a ceste ainda exibiam um infimo dourado que se esmaecia com o pôr do sol. Como ninguém podia nos ver, me senti à vontade para pegá-la no cola.</p> 
      <br>
  
  <p>Carreguei-a para longe do refeitório e para as sombras dos medronheiros, onde estava tão escuro que parecia meia-noite. <br>
    Sentei no mesmo banco de onde a observara tantas semanas antes, naquela manhã ensolarada, mas a mantive aninhada em meu peito.<br> 
    A leste, uma lua pálida brilhava por trás de nuvens finas como rendi.<br> 
    Era um momento único, o céu se equilibrando perfeitamente entre o fim da tarde e o início da noite. <br>
    Ela ainda aguardava uma explicação<br> 
    - Por quê? - perguntou.</p>
  <br>
    <p>- O crepúsculo, de novo - refleti.<br> 
    - Outro fim. Mesmo que o dia seja perfeito, sempre tem um fim.<br>  
    Mesmo Esses dias eram tão importantes, e terminavam tão rápido.<br>
    Ela ficou tensa.<br>
    - Algumas coisas não precisam terminar.<br> 
    - Vou ficar com você enquanto eu puder, enquanto for permitido, enquanto isso não a machucar."</p>
    <br>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/eDblDj6BISo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>