<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">Outlander</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://wallpaperaccess.com/full/1945410.jpg">
  <br>
  <br>
  <p>"Uma história bem contada é uma vida bem vivida"<br>
    <br>
    "Você não pode desfazer as coisas que fez, mas não é muito tarde para ganhar sua humanidade de volta.”</p>
  <br>
  <p>“A verdade tem um peso que nenhuma mentira pode falsificar.”<br>
    “Eu nunca vou esquecer quando eu saí da igreja e vi você pela primeira vez. Era como se eu pisasse fora em um dia nublado e de repente o sol saísse.” </p>
  <br>
  <p>"A guerra me ensinou a valorizar o presente porque amanhã pode nunca vir a passar. O que eu não sabia na época era de que amanhã provaria ser menos importante do que ontem.” </p>
  <br>
  <p>“Minha mente pulava e dançava de pensamento em pensamento como uma pedra saltando através de uma lagoa.”<br>
     “Às vezes você se encontra em um caminho que você nunca esperou. O que não significa que não pode levá-lo a um lugar bonito.” <br>
    "Nem o inferno tem a fúria de uma mulher desprezada."</p>
  <br>
  <p>“Quando chegar o dia que nós nos separarmos, se minhas últimas palavras não forem ‘Eu te amo!’, saiba que foi porque não tive tempo."</p>


  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/FQkMk6LXtks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>
