img {
    margin-left: 33%
}

.body {
    background-color: #FFC0CB;
}

h1 {
    color:forestgreen;
}

button {
    background-color: deeppink;
    text-decoration: floralwhite;
    margin-left: 20%;
    margin-right: 20%;
}