<div class="body">
    <br> 
    <img src="https://i.gifer.com/PUqZ.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>CERTA RESPOSTA!</strong></h1>
    <h5>"Que comecem os Jogos! E a sorte esteja sempre a seu favor!"</h5>
    </div>
    <br>
    <br>
    <button routerLink="/pergunta5" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/home" type="button" class="btn btn-lg">Inicio</button>

    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

    </div>