<div class="body">
<br>
<div class="img"> 
    <img src="https://i.pinimg.com/originals/7c/2e/39/7c2e39c27d85ad97a06ab2d3dc7eb132.jpg">
</div>
<br>

<div class="text-center">
    <p><strong>“Pode partir meu coração. Mil vezes, se desejar. Sempre foi seu para machucar como quiser… <br>
     Amarei você até meu último suspiro. Cada batida do meu coração é sua. <br>
     Não quero morrer sem que você saiba disso.”</strong></p>
</div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button routerLink='/erro1' class="" type="button">A Rainha Vermelha</button>
    <button routerLink='/acerto1' class="" type="button">A Seleção</button>
    <button routerLink='/erro1' class="" type="button">Orgulho e Preconceito</button>
    <button routerLink='/erro1' class="" type="button">Outlander</button>
  </div>
  <br>
  <br>
  <br>
</div>