<div class="body">
    <br> 
    <img src="https://c.tenor.com/32mm_klm8CcAAAAd/bella-swan-twilight.gif">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>RESPOSTA ERRADA</strong></h1>
    <h5>Não! Essa frase é épica! Impossível não lembrar!</h5>
    <br>
    <br>
    <button routerLink="/pergunta2" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta3" type="button" class="btn btn-lg">Próxima Pergunta</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    </div>