<div class="body">
    <br>
    <div class="img"> 
        <img src="https://images6.fanpop.com/image/photos/37300000/Pride-and-Prejudice-pride-and-prejudice-37378389-500-375.jpg">
    </div>
    <br>
    
    <div class="text-center">
        <p><strong>"Em vão tenho lutado comigo mesmo; nada consegui.<br>
         Meus sentimentos não podem ser reprimidos e preciso que me permita dizer-lhe que eu a admiro e amo ardentemente.</strong></p>
    </div>
    
      <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink='/acerto3' class="" type="button">Orgulho e Preconceito</button>
        <button routerLink='/erro3' class="" type="button">Anne of Green Gables</button>
        <button routerLink='/erro3' class="" type="button">Harry Potter</button>
        <button routerLink='/erro3' class="" type="button">Jogos Vorazes</button>
      </div>
      <br>
      <br>
      <br>
    </div>