<div class="body">
    <br> 
    <img src="https://pbs.twimg.com/media/EWAv3yTWsAA1Tcb.jpg">
    <br>
    <br>
    <div class="text-center">
    <h1><strong>CERTA RESPOSTA!</strong></h1>
    <h5>Chega até arrepiar, né?!</h5>
    </div>

    <button routerLink="/pergunta4" type="button" class="btn btn-lg">Voltar</button>
    <button routerLink="/pergunta5" type="button" class="btn btn-lg">Próxima Pergunta</button>

    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>

    </div>