img {
    width: 368px;
    height: 464px;
    margin-left: 38%
}

.body {
    background-color: #FFC0CB;
}

h1 {
    color:forestgreen;
}

button {
    background-color: deeppink;
    text-decoration: floralwhite;
    margin-left: 20%;
    margin-right: 20%;
}