<div class="container-fluid d-flex flex-wrap">
  <div class="card" style="width: 18rem;">
    <img routerLink="/book1" src="https://wallpapercave.com/wp/wp7206324.jpg" class="card-img-top" alt="twilgth">
    <div class="card-body">
      <h5 class="card-title">Crepúsculo</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book2" src="https://i.pinimg.com/originals/ce/f3/67/cef367b3853ba4a54bda75c73aabb74a.jpg" class="card-img-top" alt="ACOTAR">
    <div class="card-body">
      <h5 class="card-title">ACOTAR</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book3" src="https://i.pinimg.com/736x/94/32/b1/9432b17c24ed0ffc36aaad694947d39e.jpg" class="card-img-top" alt="Anne">
    <div class="card-body">
      <h5 class="card-title">Anne de Green Gables</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book4" src="https://i.pinimg.com/originals/8a/b5/e7/8ab5e71aa920bf654b19f6c200d3ff86.png" class="card-img-top" alt="Selection">
    <div class="card-body">
      <h5 class="card-title">A Seleção</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book5" src="https://i.pinimg.com/originals/99/dc/5f/99dc5f784340d24b0b3da2c4229b23e3.jpg" class="card-img-top" alt="Queen">
    <div class="card-body">
      <h5 class="card-title">A Rainha Vermelha</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book6" src="https://i.pinimg.com/736x/23/01/55/230155d971c76827c8c3037b1b941be5.jpg" class="card-img-top" alt="Lizzy">
    <div class="card-body">
      <h5 class="card-title">Orgulho e Preconceito</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book7" src="https://i.pinimg.com/736x/3f/2f/2e/3f2f2e7c2559223ea6165bbfa5b01854.jpg" class="card-img-top" alt="Harry">
    <div class="card-body">
      <h5 class="card-title">Harry Potter</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book8" src="https://wallpaperaccess.com/full/2063273.jpg" class="card-img-top" alt="Outlander">
    <div class="card-body">
      <h5 class="card-title">Outlander</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img routerLink="/book9" src="https://i.pinimg.com/originals/14/0d/33/140d336f4c101186d83d3d569529e8fa.jpg" class="card-img-top" alt="Hunger Games">
    <div class="card-body">
      <h5 class="card-title">Jogos Vorazes</h5>
    </div>
  </div>
  
</div>

  
  
<router-outlet></router-outlet>