<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1">Orgulho e Preconceito</span>
    </div>
  </nav>
  <div class="body"> 
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e0e1212f-1a0e-4f27-8604-03dcec482d89/d2w7q32-f572ea6c-6d04-4b5e-b4a4-afc3e48086ec.jpg/v1/fill/w_900,h_507,q_75,strp/pride_and_prejudice_wallpaper_by_simbahearted_d2w7q32-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvZTBlMTIxMmYtMWEwZS00ZjI3LTg2MDQtMDNkY2VjNDgyZDg5XC9kMnc3cTMyLWY1NzJlYTZjLTZkMDQtNGI1ZS1iNGE0LWFmYzNlNDgwODZlYy5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.hIV-MondiYGrBxgRXY-Gx9FVJlx1mgxB1-6_ZmvUZLA">
  <br>
  <br>
  <p>"Mas confesso que a mim nada disso me encanta. Prefiro infinitamente um livro."<br>
    <br>
    "Em vão tenho lutado comigo mesmo; nada consegui. Meus sentimentos não podem ser reprimidos e preciso que me permita dizer-lhe que eu a admiro e amo ardentemente."</p>
  <br>
  <p>“A distância não é importante quando se tem um bom motivo.” <br>
    "O meu amor e os meus desejos permanecem inalterados.<br>
    Mas basta uma única palavra sua para que nunca mais lhe fale no assunto." </p>
  <br>
  <p>"Por mais amável que seja o seu gênio, seu coração não é dos mais fáceis de atingir."<br>
    "...Um só passo falso acarreta uma série de desgraças..."<br>
    "Eu teria perdoado seu orgulho se ele não tivesse ferido o meu."</p>
  <br>
  <p>"A vaidade e o orgulho são coisas diferentes, embora as palavras sejam frequentemente usadas como sinônimos.<br>
     Uma pessoa pode ser orgulhosa sem ser vaidosa.<br>
     O orgulho relaciona-se mais com a opinião que temos de nós mesmos, e a vaidade, com o que desejaríamos que os outros pensassem de nós."</p>
  <br>
  <p>“É uma verdade universalmente conhecida que um homem solteiro, em posse de grande fortuna, deve estar procurando uma esposa."</p>


  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/e88hOQfXNTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <router-outlet></router-outlet>